In [8]:
nama = "tri hadianto"
usia = 19
sudah_menikah = False
hobi = "melihat wanita cantik"
mantan = 3
mantan_kesatu = "anya geraldine"
mantan_kedua = "chelsie islan"
mantan_ketiga = "han so he"

print('nama :',nama)
print('usia :',usia)
print('sudah_menikah :',sudah_menikah)
print('hobi :',hobi)
print('mantan :',mantan)
print('mantan_kesatu :',mantan_kesatu)
print('mantan_kedua :',mantan_kedua)
print('mantan_ketiga :',mantan_ketiga)

nama : tri hadianto
usia : 19
sudah_menikah : False
hobi : melihat wanita cantik
mantan : 3
mantan_kesatu : anya geraldine
mantan_kedua : chelsie islan
mantan_ketiga : han so he

In [9]:
a, b, c = 1, 2, "mantap betul"

print('a :',a)
print('b :',b)
print('c :',c)

a : 1
b : 2
c : mantap betul

In [10]:
d = e = f = 10

print('d :',d)
print('e :',e)
print('f :',f)

d : 10
e : 10
f : 10

In [29]:
a = 5
b = 15
c = 10
d = 50

print('a :',a+b)
print('a :',c*d)
print('b :',b*d)
print('d :',d*b)
print('d :',d+c+b)

a : 20
a : 500
b : 750
d : 750
d : 75

In [41]:
panjang = 5
lebar = 10.5
luas = panjang*lebar

print(panjang, '*', lebar, '=',luas)
print("tipe dari variabel panjang", type(panjang))
print("tipe dari variarbl lebar", type(lebar))
print("tipe dari variabrl luas", type(luas))

5 * 10.5 = 52.5
tipe dari variabel panjang <class 'int'>
tipe dari variarbl lebar <class 'float'>
tipe dari variabrl luas <class 'float'>

In [40]:
a = 3
b = 3

print('3'+'5')

310

In [42]:
alas = 10
tinggi = 5
luas = alas * tinggi

print(alas, '*', tinggi, "=",luas)
print("tipe dari variabel alas",type(alas))
print("tipe dari variabel tinggi",type(tinggi))
print("tipe dari variabel luas",type(luas))

10 * 5 = 50
tipe dari variabel alas <class 'int'>
tipe dari variabel tinggi <class 'int'>
tipe dari variabel luas <class 'int'>

In [48]:
#luas segitiga
alas = 10
tinggi = 5
rumus_luas = alas*tinggi*0.5

print('luas segitiga', alas, '*',tinggi, '*', 0.5,'=',rumus_luas)

luas segitiga 10 * 5 * 0.5 = 25.0

In [56]:
#itung Umur
tahun_lahir = 2003
tahun_sekarang = 2022
hitung_umur = tahun_sekarang - tahun_lahir

print('hitung umur', tahun_sekarang, '-', tahun_lahir, '=',hitung_umur)

hitung umur 2022 - 2003 = 19

In [87]:
#biodata
nama_depan = "Tri"
nama_belakang = "Hadianto"
nama_lengkap = nama_depan + ' ' + nama_belakang
usia ='19'
alamat = 'Darmaga'
kata_mutiara = "lebih baik gaji besar, daripada gaji kecil"

print(nama_lengkap, '(' + usia + ')', ',', 'dari', alamat, ', kata mutiara :',kata_mutiara)

Tri Hadianto (19) , dari Darmaga , kata mutiara : lebih baik gaji besar, daripada gaji kecil

In [85]:
#saya
print('saya'*3)

sayasayasaya

In [70]:
#saya2
print('saya'+'saya')

sayasaya

In [77]:
print("saya\nsaya\nsaya")

saya
saya
saya

In [83]:
print("""saya
saya
saya""")

saya
saya
saya

In [84]:
saya_orang_ganteng = True
saya_adalah_justin_bieber = False

print('apakah saya orang ganteng?',saya_orang_ganteng)
print('apakah saya adalah justin bieber?',saya_adalah_justin_bieber)
print('tipe dari saya_orang-ganteng',type(saya_orang_ganteng))
print('tipe dari saya_adalah_justin_bieber', type(saya_adalah_justin_bieber))

apakah saya orang ganteng? True
apakah saya adalah justin bieber? False
tipe dari saya_orang-ganteng <class 'bool'>
tipe dari saya_adalah_justin_bieber <class 'bool'>

In [101]:
foo = 12 < 10
print(foo)

foo = 10 > 12
print(foo)

foo = "A" == "a"
print(foo)

False
False
False